# Ignore these files in order to keep code only on Github, not release sensitive information
data/
model_runs/
*.nc
*.RDS
*.RData
*.rst
*.pdf
*.html
ma
Logs/
results/
data_application/model_fits/
*.out